<div class="row">
        <div class="col m8 offset-m2"> 
            <div class="card center grey darken-3" style="border-radius:15px">
                <div class="card-title white-text">
                    <h2> Welcome to blogpost MEAN app</h2>
                </div>
            </div>
        </div>
        <div class='col m2'>
            <a class="btn green" [routerLink]="['/login']">Login</a>
            <a class="btn yellow darken-4" [routerLink]="['/register']">Sign up</a>
        </div>
</div>
<div class="row">
    <div class="card col m10 offset-m1 center grey darken-3 " style="border-radius:15px;">
        <div class="white-text">
            <h5> 
                Sign up to the app to share your blog posts with other users!
            </h5>
        </div>
    </div>
</div>