<app-blognav></app-blognav>
<div class="container">
    <div class="row">
        <h3>Edit Blog Post</h3>
        <form class="col s12">
            <div class="row">
                <div class="input-field">
                    <input type="text" id="title" name="title" [disabled]='loading' value='{{blogTitle}}' (change)="titleChangeHandler($event)">
                    <label for="title">Title</label>
                </div>
            </div>
    
            <div class="row">
                <div class="input-field">
                    <select id="status" 
                    name="status"
                    (change)="selectChangeHandler($event)"
                    [disabled]='loading'>
                        <option value="public" selected="blogStatus == 'public'">Public</option>
                        <option value="private" selected="blogStatus == 'private'">Private</option>
                    </select>
                    <label for="status">Status</label>
                </div>
            </div>
    
            <div class="row">
                <div class="input-field">
                    <h5>Edit your blog here:</h5>
                    <textarea name="body" 
                    class="materialize-textarea" 
                    (change)="bodyChangeHandler($event)" 
                    [disabled]='loading'>{{blogBody}}</textarea>
                </div>
            </div>
    
            <div class="row">
                <input type="submit" value="Save" class="btn" [disabled]='loading' (click)="updateBlogPost()">
                <button (click)="cancelHandler()" class="btn orange" [disabled]='loading'>Cancel</button>
            </div>
        </form>
    </div>
</div>